﻿<div style="margin-left: 30px">
    <div v-on:click="onSliderClick" class="mb-2 cursor-pointer">
        <span class="badge badge-success">
            <span v-show="isCollapsed" class="fas fa-plus mr-2"></span>
            <span v-show="!isCollapsed" class="fas fa-minus mr-2"></span>
            <span v-if="gridData.type==='group' || gridData.type === 'detail'" style="margin-left: 5px">
                <span>{{gridData.header.key}}: {{gridData.header.value}}</span>
            </span>
        </span>
    </div>
    <div v-show="!isCollapsed">
        <ul>
            <li v-for="(item, index) in gridData.items">
                <grid-vue-details v-if="item.type==='detail'" :detail="item">
                </grid-vue-details>
                <grid-vue v-if="item.type==='group'" :grid-data="item" :key="item.id"></grid-vue>
            </li>
        </ul>
    </div>
</div>

