﻿<div style="margin-left: 15px; margin-bottom: 10px; display: inline-flex;">
    <div v-on:click="onSliderClick" class="mb-1 mr-2 cursor-pointer noselect">
        <span class="badge badge-success">
            <span v-show="isCollapsed" class="fas fa-plus mr-2"></span>
            <span v-show="!isCollapsed" class="fas fa-minus mr-2"></span>
            <span>{{$data.header.key}}: {{$data.header.value}}</span>
        </span>
    </div>
    <div v-show="!isCollapsed">
        <!--columns header columns header columns header columns header -->
        <div>
            <template v-for="column in columns">
                <div v-on:click="onSortClick(column)" class="badge badge-primary mr-2 cursor-pointer noselect" style="width: 150px; display: inline-block">
                    <span :ref="'detailcolumn_' + column.name + '_' + column.guid">
                        {{column.name}}
                    </span>
                    <span style="float:right; width: 40px">
                        <span v-show="column.sort.direction=='dsc'" >
                            <span class="ml-1" >{{column.sort.order}}</span>
                            <span class="fas fa-sort-down" ></span>
                        </span>
                        <span v-show="column.sort.direction=='asc'">
                            <span class="ml-1">{{column.sort.order}}</span>
                            <span class="fas fa-sort-up" ></span>
                            
                        </span>
                        <span v-show="column.sort.direction==null">
                            <span class="ml-1" style="visibility: hidden;">0</span>
                            <span class="fas fa-sort" ></span>
                        </span>
                    </span>
                </div>
            </template>
        </div>

        <!--columns data columns data columns data -->
        <template v-for="detail in getPaginatedData($data)" :key="detail.id">
            <div style="margin-left: 5px">
                <template v-for="column in $data.columns">
                    <span class="mr-2" style="width: 150px; display: inline-block">
                        {{detail[column.name]}}
                    </span>
                </template>
            </div>
        </template>

        <!--pagination -->
        <div>
            <div style="float: right; text-align: center;" v-show="numberOfPages > 1">
                <span class="fas fa-arrow-circle-left"
                    v-on:click="pagePrevious($data)"
                    v-bind:class="{'fa-disabled': $data.pagination.pageNumber==1, 'cursor-pointer': $data.pagination.pageNumber!=1}">
                </span>
                <span>{{$data.pagination.pageNumber}} of {{numberOfPages}} </span>
                <span class="fas fa-arrow-circle-right" 
                    v-bind:class="{'fa-disabled':isLastPage(), 'cursor-pointer':!isLastPage()}"
                    v-on:click="pageNext($data)">
                </span>
            </div>        
        </div>
    </div>
</div>
